
//colors - site
$colorMain: #e74c3c;
$colorMainDark: #d62c1a;
$colorLightGray: #f7f1f1;
$colorBlack: #201f1f;

//colors - media
$colorFb: #3b5998;
$colorGithub: #333;
$colorLinkedin: #007bb5;
$colorYouTube: #bb0000;
$colorGooglePlus: #dd4b39;
$colorTwitter: #00aced;
$colorGithub: #333333;

//Media query sizes
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$xlarge-desktop-width: 1600px;
