
//colors - site
$colorMain: #e74c3c;
$colorMainDark: #d62c1a;
$colorLightGray: #f7f1f1;
$colorBlack: #201f1f;
$colorBodyBg: #d4cccc;

//color - modules
$colorPinkGray: #ede1e1;
$colorPinkGrayDark: #ede6e6;

//Media query sizes
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$xlarge-desktop-width: 1600px;
